[submodule ".localdata"]
	path = .localdata
	url = https://github.com/yimjiajun/.dotdata.git
	branch = main
[submodule "neovim"]
	path = nvim
	url = https://github.com/yimjiajun/neovim.git
	branch = main
[submodule "dediprog"]
	path = tools/other/dediprog
	url = https://github.com/DediProgSW/SF100Linux.git
	branch = master
